<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Review Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body>
    <header>
        <div class="head">
        <div class="main">
        <ul class="main-nav">
        <li class="active"><a href="#">Home</a></li>
        <li>
        <a href="reg.html">REGISTRATION...</a></li>
        <li>
        <a href="#">Winner LIST...</a></li>
        </ul>
        </div>
        </div>
        </header>
        <div class="body">
            <div class="container1">
            <div class="row">
            <div class="left-side" >
            <div class="info">
            <h1 id="line">TRIUMPH<br>CONTEST</h1><br><br>
            
            <h2 id="line2">WelCome<span></span></h2>
            <p>To triumph contest,You play and win exciting rewards ,<br><br>We make a trustful environment ,<br><br> You join Us</p><br>
            
            </div>
            </div>
            <div class="right-side"  >
            <div class="about-img">
            <img src="https://media.istockphoto.com/id/1128789429/photo/plan-leading-strategy-of-successful-business-competition-leader-concept-hand-of-player-chess.jpg?s=612x612&w=0&k=20&c=srlCT0xWXduYvZsQgGVYl6B4QAaBjoPjpsceTQrP5XQ=" >
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="container2">
            <div class="box">
            <div class="box-img">
            <img src="https://img.freepik.com/premium-vector/helping-hand-concept-gesture-sign-help-hope-two-hands-taking-each-other_158483-1746.jpg">
            </div>
            <div class="box-text">
            <h2>HELP</h2>
            <p>If you face any problem in this website.You can contact Us without any problem.We will be available for you 24 hours...</p>
            <a href="#">view more</a>
            </div>
            </div>
            <div class="box">
            <div class="box-img">
            <img src="https://media.licdn.com/dms/image/D4D03AQHYvrvappLESQ/profile-displayphoto-shrink_800_800/0/1691316760829?e=2147483647&v=beta&t=bEFx4S7MSzmNEtKAEY22SGW4tiLL7X6afL_1xhjj_ss">
            </div>
            <div class="box-text">
            <h2>Winner of the week</h2>
            <p> HI My self divyanshu.this week i win 10lakh from triumph contest.this contest is the best place where we can earn a lot of money.  </p>
            <a href="#">view more winner</a>
            </div>
            </div>
            <div class="box">
            <div class="box-img">
            <img src="https://image.shutterstock.com/image-vector/megaphone-contest-speech-bubble-banner-260nw-1949373370.jpg">
            </div>
            <div class="box-text">
            <h2>ABOUT TRIUMPH CONTEST</h2>
            <p>Triumph contest is a type of contest where player can take part  in this contest at your own risk... </p>
            <a href="#">Details</a>
            </div>
            </div>
            </div>
            <div class="register">
                <section>
                    <h1 ><strong id="fill">Fill the form to participate in this contest:-</strong><h1>
                      <hr><br><br>
                  <form action="/page2" method='post'>
                   <lable for="name">NAME:</lable> <input type="text" name="name" id="name" value="{{text}}" >
                   <br><br>
                   <lable for="name">PHONE:</lable> <input type="number" id="number" name="number" placeholder="NUMBER">
                   <br><br>
                   <lable for="email">EMAIL:</lable> <input type="email" id="email" name="email" value="{{email}}">
                   <br><br>
                   <lable for="DATE">D.O.B:</lable> <input type="date" id="date" name="date" placeholder="date">
                   <br><br>
                  <lable for="gender">GENDER</lable>
                   <select name="gendar" id="gender">
                    <option value="male">MALE</option>
                    <option value="female">FEMALE</option>
                    <option value="other">SIXER</option>
                   </select>
                   &nbsp; &nbsp; &nbsp;<br><br>
                   <lable for="address">Details Address:-</lable><br><textarea  rows="8" cols="20" id='address' name='address' placeholder='address-:'> </textarea>
                   <br><br>UPLOAD/:-<lable for="identity">IDENTITY</lable>
                   <select name="identity" id="identity">
                    <option value="adharcard">ADDHARCARD</option>
                    <option value="pancard">PANCARD</option>
                    <option value="passport">PASSPORT</option>
                   </select><input type="file" name="card">
                   <br><br><input type="submit" value="SUBMIT FORM" id="submit">
                   <br>
                   
                           <br><br>
                  </form>
                   
                  </section>
            </div>
            <div class="foot">
           <h3> @PLAY WITH YOUR OWN RISK-:</h3>
            </div>
</body>
</html>